<% title "Just HATE it" %>

<%= render :partial => 'form' %>

<div class="posts">
  <div class="head">See what people hate right now</div>
	
	<%= render :partial => 'hate', :collection => @hates %>
	
	<% 
	 #link_to "Destroy", hate, :confirm => 'Are you sure?', :method => :delete 
	%>
</div>